* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    transition: all 0.3s ease;
}

body {  
    padding: 20px;
    background-color: #EDF1F5;
    color: #333333;
    line-height: 1.6;
    height: 100%;
}

#nav {
    text-align: center;
}

#mainTitle {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 3em;
}

#mainDescription {
    margin-bottom: 5px;
    font-size: 1.5em;
    color: #666666;
}

.spinner {
    animation: rotator 1.4s linear infinite;
    width: 65px;
    height: 65px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -32.5px;
    margin-left: -32.5px;
    z-index: 1000;
}

@keyframes rotator {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(270deg); }
}

.path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@keyframes colors {
    0% { stroke: #4285F4; }
    25% { stroke: #DE3E35; }
    50% { stroke: #F7C223; }
    75% { stroke: #1B9A59; }
    100% { stroke: #4285F4; }
}

@keyframes dash {
    0% { stroke-dashoffset: 187; }
    50% {
        stroke-dashoffset: 46.75;
        transform:rotate(135deg);
    }
    100% {
        stroke-dashoffset: 187;
        transform:rotate(450deg);
    }
}

#error {
    color: #FF0000;
    font-size: 1.5em;
    text-align: center;
    margin-top: 20px;

}

#content {
    border-radius: 5px;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 20px;

}

.series {
    border-radius: 5px;
    background-color: #FAFAFA;
}

.series-info {
    background-color: #FAFAFA; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px; 
    box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.05); 
    border-radius: 5px; 
}

.series-name {
    margin: 0;
    font-size: 24px;
    color: #333333;
}

.series-image {
    width: 7rem;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.1);

}

.book, .chapter {
    background-color: #f0f0f0; 
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.1);
    border-radius: 5px;
}

.chapter {
    display: none; 
}

.chapter:hover {
    box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.1);
    transform: translateY(-5px);
}

#content h2, #content h3 {
    margin-bottom: 10px;
    color: #333333;
}

#content p {
    margin-bottom: 10px;
    color: #666666; 
}

#content p:hover {
    color: #333333;
}

#remImg {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 23rem;
    height: auto;
}
    
@media (min-resolution: 1.1dppx) {
    #remImg {
        display: none;
    }
}

/* Mobile styles */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    #nav {
        margin: 0.7rem;
    }

    #content {
        width: 100%;
        padding: 0px;
    }

    #remImg {
        display: none;
    }
    
}