* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    transition: all 0.3s ease;
}

body {  
    padding: 20px;
    background-color: #EDF1F5;
    color: #333333;
    line-height: 1.6;
}


#mainTitle {
    text-align: center;
    margin-bottom: 5px;
    font-size: 3em;
    font-family: 'Arial', sans-serif;
    color: #333333;
}

#mainDescription {
    text-align: center;
    margin-bottom: 5px;
    font-size: 1.5em;
    font-family: 'Arial', sans-serif;
    color: #666666;
}

#loadingText {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    font-family: 'Arial', sans-serif;
}

#content {
    border-radius: 5px;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 20px;

}

.series {
    border-radius: 5px;
    background-color: #FAFAFA;
}

.series-info {
    background-color: #FAFAFA; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px; 
    box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.05); 
    border-radius: 5px; 
}

.series-name {
    margin: 0;
    font-size: 24px;
    color: #333333;
}

.series-image {
    width: 7rem;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.1);

}

.book, .chapter {
    background-color: #f0f0f0; 
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.1);
    border-radius: 5px;
}

.chapter {
    display: none; 
}

#content div:hover {
    box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.1);
    transform: translateY(-5px);
}

#content h2, #content h3 {
    margin-bottom: 10px;
    color: #333333;
}

#content p {
    margin-bottom: 10px;
    color: #666666; 
}

#content p:hover {
    color: #333333;
}

#remImg {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 29rem;
    height: auto;
}

/* Mobile styles */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    #content {
        width: 100%;
        padding: 10px;
    }

    #content div {
        padding: 10px;
    }

    #remImg {
        display: none;
    }
    
}